{{>header}}


<div class="container">
 
<h1 class="text-center">deadlockAndDataRaceDetection was false</h1>  

</div>

<div class="container">
<div class="row text-left">

<p>
The tag <code>deadlockAndDataRaceDetection</code> in the maven pom.xml was set to false. To enable
deadlock, data race detection, and report generation set this tag to true.

</p>

</div>
</div>







{{>footer}}