
{{#hasWarnings}}

<div class="container" style="margin-top : 100px;">

<div class="alert alert-warning" role="alert">

{{#warnings}}
  {{{name}}}
{{/warnings}}

</div>
</div>
{{/hasWarnings}}


{{#showHeader}}

<footer class="navbar navbar-static-bottom">
<div class="container-fluid" style="margin-top : 100px;">
 
	 <div class="container">
	<div class="row">
   
    
 <!-- skipAtCompare -->    <p class="navbar-text navbar-right"  >Created by <a href="https://vmlens.com/" class="navbar-link">vmlens {{vmlensVersion}}</a></p>
    
    </div>
  </div>	
</div>
	

	
</footer>

{{/showHeader}}


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="{{root}}js/jquery-1.11.3.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="{{root}}js/bootstrap.js"></script>
<script src="{{root}}js/report.js"></script>

</body>
</html>