{{>header}}


<div class="container-fluid">
 
<h1>Run a test</h1> 
 

 <p>To run a Junit test use the junit vmlens shortcut:</p> 
 
<img src="img/launch_short_cut.png" class="center-block" style="padding-bottom:50px;" />
 
<p>To run a different type of application use the "vmlens All Applications" run configuration, as <a href="{{apacheRoot}}/help/manual/#all-other-applications">described here</a>. 
How to configure a Junit test run is <a href="{{apacheRoot}}/help/manual/#run-configuration">described here</a>.</p>  
 
 
 
<p><span style="font-weight: bold;">Next:</span> After the test run finished vmlens shows you all found race conditions and deadlocks, as <a href="{{apacheRoot}}/help/manual/#the-report">described here</a>.</p> 
 
 </div>




{{>footer}}
