<div class="{{containerTyp}}">
 
 
   <div class="row">
    <div>
      <h2 class="text-left">{{name}}</h2>
    </div>
  </div>
 

{{#hasElements}}

<div class="row text-left"> 
<ul>

{{#issues}}



<li><a href="{{link}}">{{name}}</a></li>




{{/issues}}
  
</ul>
</div>


{{/hasElements}}

</div>