package com.vmlens.trace.agent.bootstrap.event.gen;

import com.vmlens.trace.agent.bootstrap.event.*;
import java.nio.ByteBuffer;

public interface SendEvent {
	
{{#eventList}}

{{^isInterleaveEvent}}

   void write{{className}} (int slidingWindowId
{{#javaFieldsInSend}}
, {{javaType}}     {{name}}
{{/javaFieldsInSend}}
);

{{/isInterleaveEvent}}


{{^isInterleaveEvent}}

   void writeWithoutInterleave{{className}} (int slidingWindowId
{{#javaFieldsInSend}}
, {{javaType}}     {{name}}
{{/javaFieldsInSend}}
);

{{/isInterleaveEvent}}



{{/eventList}}	
	
	
}