.textBlue {
  color: #4198ff;
}

.textYellow {
   color: #f1841e;
}

.textRed {
  color: #cc0000;
}

.textDarkGrey {
  color: #333333;
}

.textLightGrey {
  color: #e6e6e6;
}


.textWhite {
 color : white;
}


.manual h1
{
	color: #cc0000;
}



.backgroundBlue {
  background-color: #4198ff;
}

.backgroundYellow {
   background-color: #f1841e;
}

.backgroundRed {
  background-color: #cc0000;
}

.backgroundDarkGrey {
  background-color: #333333;
}

.backgroundLightGrey {
  background-color: #e6e6e6;
}


.backgroundHeader {
  background-color: #e6e6e6;
}


 
 .titel-text-unten  {
  
      font-size: 44px;
     
 }
 
 
 .boxHelpObenLinks {
    background-color:#4d4d4d;
    color:white;   
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
 }
 
 
  .boxHelpObenRechts {
    background-color:#4198ff;
    color:white;   
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    
 }
 
   .boxHelpMitteLinks {
    background-color:#e6e6e6;;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    
 }
 

 
.boxHelpRight {
    background-color:#f1841e;;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    color : white;
 }
 
 
 
 
 
 
 
 
 .titelScreenshot {
     
     font-size: 44px;
       padding: 44px; 
 }
 
 
 .boxObenLinks {
  
     background-color:#4d4d4d; 
     color: white;   
     height: 500px;
    
 }
 
 
.boxObenMitte {
   background-color:#4198ff;
    color:white;   
    height: 500px;
}


.boxObenRechts {
    background-color:#ff9933;
    color:white;   
    height: 500px;
    
}

.helpPic {
  width: 100%;
  height: auto;
  margin-right : auto;
  margin-left : auto;
  min-width : 300px;
  border-radius: 10px;
  border: 2px solid #4198ff;
}

.blogPic {
  width: 100%;
  height: auto;
  margin-right : auto;
  margin-left : auto;
  min-width : 300px;
  border-radius: 10px;
  border: 2px solid #4198ff;
}



.firstPic {
  width: 100%;
  height: auto;
  margin-right : auto;
  margin-left : auto;
  min-width : 300px;
  border-radius: 10px;
  border: 2px solid #4198ff;
}

.secondPic {
  width: 100%;
  height: auto;
  margin-right : auto;
  margin-left : auto;
  min-width : 300px;
  border-radius: 10px;
  border: 2px solid #4198ff;
}

.thirdPic {
  width: 100%;
  height: auto;
  margin-right : auto;
  margin-left : auto;
  min-width : 300px;
  border-radius: 10px;
  border: 2px solid #4198ff;
}




.screenShot1 {
     padding: 20px; 
     background-color:#cdcdcd;
     color:#414141;
}


.screenShot2 {
    padding: 20px;  
}




.hintergrund {
    
    background-color:white; 
    
   /*  background-color:#c2c6cb; */
}

.noLeftpadding {

@media (min-width: 768px) {
   padding-left: 0 !important;
}     
}

.noRightpadding {
@media (min-width: 768px) {
   padding-right: 0 !important;
}   
}


.titel-line {
    padding-bottom:40px;
    text-align: center;
   
}

@media only screen and (min-width: 768px) {
.padding_100_md
{
padding: 100px;
}
.padding_50_md
{
padding: 50px;
}
.padding_20_md
{
padding: 20px;
}
.img_fold_md
{
float: left;
margin-right: 30px
}
}

@media only screen and (max-width: 768px) {

.clear_sm
{
clear: both;
}
}




@media only screen and (min-width: 768px) {
.bubble
{
position: relative;
width: 750px;
height: 550px;
padding: 0px;
color:white;
background: #4198ff;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #4198ff;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 65px;
}
}



.background_blue
{
	background-color: #4198ff;
}

.background_red
{
	background-color: #BB444F;
}


.javadoc_blue
{
	color : rgb(76, 107, 135);
}


.image_align_right_at_md
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_align_left_at_md 
{
	 text-align: center;
}


.vmlensButtonBlue
{
	border-color: #4198ff;  
	background-color: #4198ff;  
	color: white;
	
}



.vmlensButtonBlue:hover, .vmlensButtonBlue:focus, .vmlensButtonBlue:active, .vmlensButtonBlue.active
{
    background-color: #002d63;
    border-color: #4198ff;  
    color: white;
}


@media only screen and (min-width : 992px) {
.image_align_right_at_md
{
	  float: right !important;
}

.text_align_left_at_md 
{
	 text-align: left;
}

.vmlensButtonBlue
{
    margin-top: 20px;
}



}

.vmlens_active
{
	 text-decoration: underline;
	 color: blue;
}


.vmlensDoc h1
{
	margin-top   : 50px;
	margin-bottom: 30px;
}

.vmlensDoc h2
{
	margin-top   : 50px;
	margin-bottom: 30px;
}


/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }

}

