{{>templates/header.mustache}}

<!-- htmlIndex.mustache -->

<div class="{{containerTyp}}">
 
{{#issues}}
 
  <div class="row text-left">

{{index}}

    <a   href="{{link}}" >
{{#imagePath}} 
    <img src="{{{imagePath}}}" />
{{/imagePath}} 
    {{{breakableName}}}</a>
  </div>
  
  
  {{#children}}
  

   <div class="row text-left">
     <div class="col-sm-1"> </div>
     <div class="col-sm-11 text-left">
        <a   href="{{link}}"   style=" font-size: 14px;"  >{{{breakableName}}}</a> 
       </div>
    </div>
  
 {{/children}}
  
  
 
{{/issues}}

</div>




{{>templates/footer.mustache}}
