{{>templates/header.mustache}}



<div class="{{containerTyp}}">

 <!--  {{#issues}}  -->

 <div class="row text-left" style="margin-top : 50px;">

{{#children}}

<div class="row text-left">
{{name}}
 </div>

{{/children}}

 </div>


 <!--  {{/issues}}  -->

</div>



{{>templates/footer.mustache}}