{{>templates/header.mustache}}


<div class="{{containerTyp}}">
 


 
 
{{#issues}}



<div class="row text-left">  
  

{{name}}


  
 </div> 



{{/issues}}


</div>



{{>templates/footer.mustache}}




