<div class="row text-left">
  
  
 <table class="table table-striped" >
  <tr>
    <th>Level</th>
    <th>Method</th>
     <th>Contains Monitors?</th>
    <th>Called Methods Contains Monitors?</th>
    <th>Thread Count</th>
  </tr>
  


{{#issues}}

{{#color}}<tr style=" background-color: {{color}} " >{{/color}}

{{^color}}<tr>{{/color}}

<td>{{group}}</td>
 
<td>
    {{#parentChildLink}}<a   href="{{parentChildLink}}" >{{{name}}}</a> {{/parentChildLink}}
     {{^parentChildLink}}{{{name}}}{{/parentChildLink}}
</td> 
 
 
 {{#textInsteadState}}
 
  <td colspan="2" >
 {{textInsteadState}}
  </td>
 {{/textInsteadState}}
 
 
 
 {{^textInsteadState}}
 
 <td>
{{#methodContainsMonitor}}
<strong>Yes</strong>
{{/methodContainsMonitor}}

{{^methodContainsMonitor}}
No
{{/methodContainsMonitor}}
 </td>
 
 <td>
 {{#calledMethodContainsMonitor}}
<strong>Yes</strong>
{{/calledMethodContainsMonitor}}

{{^calledMethodContainsMonitor}}
No
{{/calledMethodContainsMonitor}}
 </td>   
  
 {{/textInsteadState}}
   
    
<td>
{{threadCount}}
</td>    
    
   
  </tr>

{{/issues}}
 
</table>   
    
     
</div>