{{>templates/header.mustache}}



<div class="{{containerTyp}}">
 
<p>No memory accesses were parallelized. To parallelize the memory access configure the classes or methods in which the memory access should be parallelized in your maven configuration. For example:</p>
<pre class="brush: xml">
&lt;parallelize&gt;
   &lt;method&gt;com.regression.pattern.TestPatternMonitor.c()&lt;/method&gt;
   &lt;method&gt;com.regression.pattern.TestPatternFields.testAddOne()&lt;/method&gt;
&lt;/parallelize&gt;
</pre>

</div>




{{>templates/footer.mustache}}