<div class="{{containerTyp}}">
 
 
   <div class="row">
    <div>
      <h2 class="text-left">{{name}}</h2>
    </div>
  </div>
 


{{#issues}}

<div class="row text-left"> 

<img src="../{{{image}}}" />{{name}}


 </div>

{{/issues}}
  



</div>