{{>header.mustache}}

<!-- run.mustache -->

<div class="container-fluid">
    <div class="row">
        <table class="table table-striped text-start">
            <thead class="sticky-head">
                <tr>
                    <th colspan="1">
                        <div style="display:flex; justify-content:space-between; align-items:center;">
                            <span><a href="index.html">Overview</a>/{{runName}}</span>
                            <span>State</span>
                            <a href="https://vmlens.com/docs/report/state/" title="Help">Help</a>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>Method or Lock</th>
                </tr>
            </thead>
            {{#elements}}
                <tr>
                    <td {{{css}}}>{{#hasLink}}<a href="{{link}}">{{label}}</a>{{/hasLink}}{{^hasLink}}{{label}}{{/hasLink}}</td>
                </tr>
            {{/elements}}
            <tfoot>
                <tr>
                    <td colspan="2" style="text-align: right;"><a href="https://vmlens.com/docs/report/state/">Help</a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{{>footer.mustache}}