<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{root}}js/jquery-1.11.3.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="{{root}}js/bootstrap.js"></script>
<script src="{{root}}js/report.js"></script>

</body>
</html>