{{>header.mustache}}

<!-- index.mustache -->

<div class="container-fluid">

    <table class="table table-striped">
        <thead class="sticky-head">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Count</th>
                <th>
                    <div style="display:flex; justify-content:space-between; align-items:center;">
                        <span>Result</span>
                        <a href="{{{reportHelpLink}}}" title="Help">Help</a>
                </div>
                </th>
            </tr>
        </thead>
        {{#loops}}
            {{#isWarning}}
                <tr>
                    <td></td>
                    <td colspan="3">{{{text}}}</td>
                </tr>
            {{/isWarning}}
            {{^isWarning}}
            <tr>
                <td>{{index}}</td>
                <td><a href="{{link}}">{{name}}</a></td>
                <td>{{count}}</td>
                <td>{{{resultText}}}</td>
            </tr>
            {{/isWarning}}
        {{/loops}}
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: right;"><a href="https://vmlens.com/docs/report/overview/">Help</a></td>
            </tr>
        </tfoot>
    </table>
</div>
{{>footer.mustache}}