{{>header.mustache}}

<!-- run.mustache -->

<div class="container-fluid">
    <div class="row">
        <table class="table table-striped text-start">
            <thead class="sticky-head">
                <tr>
                    <th colspan="1">
                        <div style="display:flex; justify-content:space-between; align-items:center;">
                            <span><a href="index.html">Overview</a>/<a href="{{runFile}}">{{runName}}</a>/{{stateName}}</span>
                            <span>Reverse Call Tree</span>
                            <a href="https://vmlens.com/docs/report/reversecalltree/" title="Help">Help</a>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>Method</th>
                </tr>
            </thead>
            {{#elements}}
                <tr>
                    <td {{{css}}}>{{label}}</td>
                </tr>
            {{/elements}}
            <tfoot>
                <tr>
                    <td colspan="1" style="text-align: right;"><a href="https://vmlens.com/docs/report/reversecalltree/">Help</a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{{>footer.mustache}}