{{>header.mustache}}

<!-- run.mustache -->

<div class="container-fluid">
    <div class="row text-left">
        <table class="table table-striped">
            <tr>
                <th>Thread</th>
                <th>Operation</th>
                <th>Method</th>
            </tr>
            {{#elements}}
                <tr>
                    <td>{{threadName}}</td>
                        <td>
                            {{{operation}}}
                        </td>
                        <td>    {{#hasLink}}<a href="{{link}}">
                            {{method}} </a> {{/hasLink}}
                            {{^hasLink}}  {{method}} {{/hasLink}}  </td>

                    </tr>
            {{/elements}}
        </table>
    </div>
</div>
{{>footer.mustache}}