{{>header.mustache}}

<!-- run.mustache -->

<div class="container-fluid">
    <div class="row">
        <table class="table table-striped text-start">
            <thead class="sticky-head">
                <tr>
                    <th colspan="4">
                        <div style="display:flex; justify-content:space-between; align-items:center;">
                            <span><a href="index.html">Overview</a>/{{runName}}</span>
                            <a href="{{{reportHelpLink}}}" title="Help">Help</a>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>Thread</th>
                    <th>Operation</th>
                    <th>On Element</th>
                    <th>Method</th>
                </tr>
            </thead>
            {{#elements}}
                <tr>
                    {{#isSeparator}}
                        <td colspan="4">{{{operation}}}</td>
                    {{/isSeparator}}
                    {{^isSeparator}}
                        <td>{{threadName}}</td>
                        <td>{{{operation}}}</td>
                        <td>{{{onElement}}}</td>
                        <td>{{#hasLink}}<a href="{{link}}">{{method}} </a> {{/hasLink}}{{^hasLink}}  {{method}} {{/hasLink}}  </td>
                    {{/isSeparator}}
                </tr>
            {{/elements}}
        </table>
    </div>
</div>
{{>footer.mustache}}