{{>header.mustache}}

<!-- stacktrace.mustache -->
<div class="container">
    {{#issues}}
        <div class="row text-left">
            {{#imagePath}}
                <img src="../{{{imagePath}}}"/>
            {{/imagePath}}
            {{#hasLink}}<a href="{{link}}"> {{{nameWithHtml}}} </a> {{/hasLink}}
            {{^hasLink}} {{{nameWithHtml}}} {{/hasLink}}
        </div>
    {{/issues}}
</div>
{{>footer.mustache}}