{{>header.mustache}}

<!-- stacktrace.mustache -->
<div class="container">
    {{#elements}}
        <div class="row text-left">
            {{{text}}}
        </div>
    {{/elements}}
</div>
{{>footer.mustache}}